@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  position: relative;
  background-color: #ffffff;
  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #f7f7f7,
    #f7f7f7 50%,
    #ffffff 30%
  );
  background-size: 10px 10px;
}
